.booking{
    width: 90%;
    background-color: lightpink;
    border:1px solid lightskyblue;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.booking .box{
    color:black;
    display: block;
    margin-left: 15px;
}

  .booking .box input[type=text] {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: 80%;
  }

.booking .box textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
  }
  .booking .box input[type=submit]{
    color:#ccc;
    background-color: aqua;
    border: 1px solid lightgreen;
    margin: 15px;
    border-radius: 1px solid gray;
  }
  .booking .box input[type=reset]{
    color:#ccc;
    background-color: aqua;
    border: 1px solid lightgreen;
    margin: 20px;
    border-radius: 1px solid gray;
  }